<p>
   Category: <%= @post.category&.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
<div style="width:400px; height:auto">
<%= image_tag(@post.image, style:"width:100%")%>
</div>
</p>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name%>
</p>
<hr>
<% if current_user.id == @post.user_id %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>
<hr>

<h3> comments </h3>
<% @post.comments.each do |comment| %>
<p>
<strong>
<%= comment.user.name%></strong>: <%= comment.body%>
<% if current_user.id == @post.user_id %>
<%= link_to 'Destroy comment',[comment.post,comment],
          method: :delete,
          data: { confirm: 'Are you sure?' }%>
<%end%>
</p>
<% end %>

<h3> Add Comments </h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
<%= f.label :body%><br>
<%= f.text_area :body%>
</p>
<p>
<%= f.submit 'Add Comment'%>
</p>
<%end%>